:root {
    --font-styles: Lato, Inter, "Open Sans", Clibri;
    --odd-page: #9A7272;
    --even-page: #705252;
    --border-style-1: 5px solid #172B74;
}

body {
    display: flex;
    flex-direction: column;
}

/*
========================
page 1
========================
*/

.page-1 {
    display: flex;
    flex-direction: column;
    background: var(--odd-page);
    padding: 1rem;
}

nav button {
    display: block;
    margin-left: auto;
    margin-right: 0;
    padding: 1rem;
    border-radius: 2rem;
    font-family: var(--font-styles);
    font-size: 1.15rem;
    font-weight: 400;
    cursor: pointer;
}

nav button:active {
    background-color: #5a4d4d;
}

.page-1 .content{
    display:flex;
    padding: 2.5rem;
    height: max(900px, auto);
    justify-content: center;
}

.profile-img {
    flex: 1;
}

.profile-img img {
    display:block;
    margin: auto;
    height: auto;
    width: max(100px,40%);
    border: 0.25rem solid #3E2B8A;
    border-radius: 100%;
}

.page-1 .content .text {
    flex: 1;
    font-family: var(--font-styles);
}

.page-1 .content .text .pitch {
    font-weight: 900;
    font-size: 1.75rem;
    text-decoration: underline;
    color: white;
    text-shadow: 0.25rem 0.25rem 0.25rem #370F0F;
    letter-spacing: 0.25rem;
}

.about {
    font-family: var(--font-styles);
    font-size: 1.5rem;
    color: white
}

.about p {
    font-family: var(--font-styles);
    font-size: 1.25rem;
    width: 80%;
    margin-left: 10px;
}

/*
==================================
Page-2
==================================

*/

.page-2 {
    background-color: var(--even-page);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-2 h2 {
    margin-left: min(15px, 10vw);
    width: 90%;
    text-align: start;
    font-weight: 900;
    font-size: 2rem;
    text-decoration: underline;
    color: white;
    text-shadow: 0.25rem 0.25rem 0.25rem #370F0F;
    letter-spacing: 0.25rem;

}

.skill-items {
    width: min(100%, 1200px);
    padding: 20px 20px 100px 20px;
    display:grid;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-template-rows: repeat(2, 350px);
    grid-auto-rows: 350px;
    column-gap: 50px;
    row-gap: 50px;
    justify-content: center;
}

.skill-item {
    padding: 40px 10px 0px 10px;
    background-color: white;
    border-radius: 10px;
    border: var(--border-style-1);
    display:flex;
    flex-direction: column;
}

.rating-star {
    width: 2rem;
    height: 2rem;
}

.skill-title {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
}

.skill-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-styles);
    font-size: 1rem;
}

.skill-logo img {
    width: auto;
    height: 75px;
}

.skill-logo h3 {
    margin: 5px 0 0 0;
    text-align: center;
}

.rating {
    align-self: center;
    justify-self: center;
}

.skill-item-details ul {
    margin-left: 0;
}

.skill-item-details ul li {
    font-family: var(--font-styles);
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    line-height: 1.75rem;
}

.other-skills {
    grid-column: 2 / -2;
    width: 301.111px;
    height: 321.111px;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.other-skills > .skill-title {
    display: block;
    align-self: center;
    justify-self: center;
}


/*
================================
Page-3
===============================
*/

.page-3 {
    padding: 50px  max(20px, 5vw) ;
    background-color: var(--odd-page);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.project-item {
    border: var(--border-style-1) ;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: clamp(225px, 80%, 1000px);
    height: auto;

    

}

.project-title {
    font-family: var(--font-styles);
    font-weight: 900;
    letter-spacing: 1.1rem;
    font-size: 1.75rem;
}

.project-img-container.mobile {
    margin: 10px auto;
    display: flex;
    width: 80%;
    padding: 0 50px 0 50px;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    
}



.project-img {
    display: block;
    height: auto;
    margin: auto auto;
}

.project-img.mobile {
    width: 250px;
}

.project-img.web {
    width: max(300px, 60%);
}

.project-details ul {
    margin-left: 40px;
}

.project-details > ul > li {
    font-family: var(--font-styles);
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    line-height: 1.75rem;
}