@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'),
    local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'), local('Ubuntu Light'),
    local('Segoe UI Light'), local('Roboto-Light'),
    local('DroidSans'), local('Tahoma');
}

:root {
  --font-styles: Lato, Inter, "Open Sans", Clibri, system-ui;
  --odd-page: #9a7272;
  --even-page: #705252;
  --border-style-1: 5px solid #172b74;

  --no-of-slides: 5;
  --slides-total-width: calc(100% * var(--no-of-slides));
  --slide-width: calc(100% / var(--no-of-slides));

  --slide-title-font: 'Tilt Warp', cursive, 
  'Oswald', sans-serif, 'Climate Crisis', cursive;

  --slide-body-font: 'Roboto', sans-serif,
   'Inter', sans-serif
}



body {
  display: flex;
  flex-direction: column;
}

.page-header{
  font-family: var(--slide-title-font);
  margin-left: min(15px, 10vw);
  width: 90%;
  text-align: start;
  font-weight: 900;
  font-size: 2rem;
  text-decoration: underline;
  color: white;
  text-shadow: 0.25rem 0.25rem 0.25rem #370f0f;
  letter-spacing: 0.25rem;
  
}

/*
===================================
   Contact Card
===================================
*/

#contact-card{
  position:absolute;
  height: 200px;
  width: 500px;
  top: calc(50% - 100px);
  left: calc(50% - 250px);
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px black;
  z-index: 3;
  display: none;
  flex-direction: column;
}

#contact-card #close-btn{
  position: relative;
  top:10px;
  left: calc(100% - 40px);
  font-size: 1.5rem;
  cursor: pointer;
}

#close-btn:active{
  text-shadow: 2px 2px 2px gray;
}

.contact-details{
  margin-left: 20px;
  margin-bottom: 10px;
  font-family:'Robot', sans-serif;
}

.contact-details>span:first-child{
  font-weight: 600;
}

#contact-no{
  margin-top: 20px;
}



/*
========================
page 1
========================
*/

.page-1 {
  display: flex;
  flex-direction: column;
  background: var(--odd-page);
  padding: 1rem;
}

nav button {
  display: block;
  margin-left: auto;
  margin-right: 0;
  padding: 1rem;
  border-radius: 2rem;
  font-family: var(--font-styles);
  font-size: 1.15rem;
  font-weight: 400;
  cursor: pointer;
}

nav button:active {
  background-color: #5a4d4d;
}

.page-1 .content {
  display: flex;
  padding: 2.5rem;
  height: max(900px, auto);
  justify-content: center;
}

.profile-img {
  flex: 1;
}

.profile-img img {
  display: block;
  margin: auto;
  height: auto;
  width: max(100px, 40%);
  border: 0.25rem solid #3e2b8a;
  border-radius: 100%;
}

.page-1 .content .text {
  flex: 1;
  font-family: var(--font-styles);
}

.page-1 .content .text .pitch {
  font-weight: 900;
  font-size: 1.75rem;
  text-decoration: underline;
  color: white;
  text-shadow: 0.25rem 0.25rem 0.25rem #370f0f;
  letter-spacing: 0.25rem;
}

.about {
  font-family: var(--font-styles);
  font-size: 1.5rem;
  color: white;
}

.about p {
  font-family: var(--font-styles);
  font-size: 1.25rem;
  width: 80%;
  margin-left: 10px;
}

/*
==================================
Page-2
==================================

*/

.page-2 {
  background-color: var(--even-page);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .page-2 h2 {
  margin-left: min(15px, 10vw);
  width: 90%;
  text-align: start;
  font-weight: 900;
  font-size: 2rem;
  text-decoration: underline;
  color: white;
  text-shadow: 0.25rem 0.25rem 0.25rem #370f0f;
  letter-spacing: 0.25rem;
} */

.skill-items {
  width: min(100%, 1200px);
  padding: 20px 20px 100px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  grid-template-rows: repeat(2, 350px);
  grid-auto-rows: 350px;
  column-gap: 50px;
  row-gap: 50px;
  justify-content: center;
}

.skill-item {
  padding: 40px 10px 0px 10px;
  background-color: white;
  border-radius: 10px;
  border: var(--border-style-1);
  display: flex;
  flex-direction: column;
}

.rating-star {
  width: 2rem;
  height: 2rem;
}

.skill-title {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
}

.skill-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-styles);
  font-size: 1rem;
}

.skill-logo img {
  width: auto;
  height: 75px;
}

.skill-logo h3 {
  margin: 5px 0 0 0;
  text-align: center;
}

.rating {
  align-self: center;
  justify-self: center;
}

.skill-item-details ul {
  margin-left: 0;
}

.skill-item-details ul li {
  font-family: var(--font-styles);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.other-skills {
  grid-column: 2 / -2;
  width: 301.111px;
  height: 321.111px;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.other-skills > .skill-title {
  display: block;
  align-self: center;
  justify-self: center;
}

/*
================================
Page-3
===============================
*/

#page-3 {
  padding: 50px max(20px, 5vw);
  background-color: var(--odd-page);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#slide-container{
  display: flex;
  justify-content: space-evenly;
}


/*
============================
Slideshow
============================
*/

#frame {
  width: clamp(900px, 80%, 1100px);
  border-radius: 20px;
  border: 5px solid black;
  background-color: white;
  box-shadow: 5px 5px 10px gray;
}

#frame > input[name="frame"] {
  display: none;
}

#slide {
  padding: 5px;
  position: relative;
  z-index: 1;
}

#slide #inner {
  width: var(--slides-total-width);
  height: 700px;
  transition: margin-left 800ms
   cubic-bezier(0.77, 0, 0.175, 1);
}

#frame1:checked ~ #slide #inner {
  margin-left: 0%;
}

#frame2:checked ~ #slide #inner {
  margin-left: -100%;
}

#frame3:checked ~ #slide #inner {
    margin-left: -200%;
  }

  #frame4:checked ~ #slide #inner {
    margin-left: -300%;
  }

#overflow {
  width: 100%;
  overflow: hidden;
}

/*
===========================
Project Slides
===========================

*/

.frame {
  width: var(--slide-width);
  float: left;
  height: 700px;
}

.project-content {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-source {
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.project-img {
  justify-self: center;
  align-self: end;
  display: flex;
  height: 400px;
  width: 95%;
  gap: 20px;
  justify-content: center;
  box-shadow: 5x 5px 5px black;
  overflow: hidden;
}

.project-img > img {
  height: 90%;
  width: auto;
  box-shadow: 5px 5px 2px gray;
}

/*
===================================
   project details
===================================
*/
.project-details{
  grid-column: 1 / 2;
  padding: 20px 10px 0px 10px
}

.project-title {
  font-family: var(--slide-title-font);
  font-weight: 900;
  letter-spacing: 0.75rem;
  font-size: 2rem;
  margin-bottom: 20px;
}

.project-description ul {
  margin-left: 20px;
}

.project-description > ul > li {
  margin-bottom: 20px;
  font-family: var(--slide-body-font);
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #272727;
}

.project-links{
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.project-links>a{
  text-decoration: none;
  display: flex;
  align-items: start;
  justify-content: center;
  color:black;
}

.project-links>a:visited{
  justify-self: center;
  color:black
}

.hidden{
  visibility: hidden;
}

.project-links>a>span{
  padding: 20px 30px;
  font-family: var(--slide-title-font);
  font-size: 1.5rem;
  border: 1px solid black;
}

.project-links>a>span:hover{
  box-shadow: 2px 2px 5px gray;
}

#control .buttons{
  display: flex;
  gap: 5px;
}

.slide-item-btn{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.selection-indicator{
  height: 15px;
  width: 15px;
  margin: auto;
  border-radius: 50%;
}

.selected{
  background-color: gray;
}